body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.answers {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.answers a {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 20px;
  width: 50%;
}

.nav-wrapper {
  background-color: #455a64;
}

.brand-logo {
  margin-left: 10px;
}

.card-panel {
  border-radius: 25px;
  font-size: large;
}

#author1,
#author2,
#author3,
#author4 {
  box-shadow: 2px 4px 4px black;
}

.scoreboard {
  display: flex;
  font-size: 24px;
}

.scoreboardField {
  display: flex;
  font-size: 24px;
}
.endQuoteBox {
  font-size: 16px;
}

.quotesBelow {
  display: flex;
  font-size: 24px;
}

.konamiCode {
  opacity: 0;
}

h4 {
  display: flex;
  justify-content: center;
  word-wrap: normal;
}

.quoteGenP {
  display: flex;
  text-align: center;
  justify-content: center;
  border-style: double;
  padding: 30px;
  font-size: 24px;
}

.title {
  display: flex;
  justify-content: center;
  text-decoration-color: rebeccapurple;
  text-decoration-line: underline;
  font-family: fantasy;
  text-align: center;
  margin-top: 35px;
}

.landingTitle {
  margin-top: 25px;
}

.subtitle {
  display: flex;
  justify-content: center;
  font-family: fantasy;
  text-align: center;
  margin-bottom: 15px;
}

.cardFlex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.callToAction {
  font-size: 17px;
}

.card-content {
  font-size: 20px;
}
.position {
  margin-right: 50px;
}

.wrongFact {
  display: flex;
  font-size: 18px;
  font-style: oblique;
  text-decoration: underline;
}
.authorQuotes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #26a69a;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  border-style: none;
  border-color: black;
  box-shadow: 4px 4px black;
  line-height: 3;
}

.authorQuotes button {
  background-color: teal;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  border-style: solid;
  border-color: black;
  box-shadow: 4px 4px black;
  color: white;
  position: relative;
  padding: 10px;
}

.authorQuotes button:hover {
  background-color: springgreen;
  color: black;
}

.answers a:hover {
  background-color: springgreen;
  color: black;
}

.darkMode {
  background-color: #3d6773;
  color: #eeeeee;
}
.moon {
  padding-top: 9px;
  filter: invert();
}
.moonBtn {
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
