body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.answers {
  display: flex;
  flex-direction: column;
}

.answers a {
  margin-left: 25%;
  margin-top: 20px;
  width: 50%;
}

.nav-wrapper {
  background-color: #455a64;
}

.brand-logo {
  margin-left: 10px;
}

.card-panel {
  border-radius: 25px;
  font-size: large;
}

#author1,
#author2,
#author3,
#author4 {
  box-shadow: 2px 4px 4px black;
}

.scoreboard {
  display: flex;
  font-size: 20px;
}

.scoreboardField {
  display: flex;
  font-size: 20px;
}
.endQuoteBox {
  font-size: 16px;
}

.quotesBelow {
  display: flex;
  font-size: 20px;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 60px;
  background-color: #455a64;
  align-items: center;
  justify-content: center;
  color: white;
}

.konamiCode {
  opacity: 0;
}

h4 {
  display: flex;
  justify-content: center;
  word-wrap: normal;
}

.quoteGenP {
  display: flex;
  text-align: center;
  justify-content: center;
  text-shadow: orange;
  text-decoration: orange;
  border-style: double;
  padding: 30px;
  font-size: 24px;
}

.title {
  display: flex;
  justify-content: center;
  text-shadow: rebeccapurple;
  text-decoration-color: rebeccapurple;
  text-decoration-line: underline;
  font-family: fantasy;
}

.authorQuotes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: grey;
  border-radius: 6px;
  font-size: 20px;
}

.authorQuotes button {
  background-color: teal;
  border-radius: 4px;
  border-style: dashed;
  border-color: black;
  color: white;
  position: relative;
}

.authorQuotes button:hover {
  background-color: springgreen;
  color: black;
}

a:hover {
  color: orange;
}

.answers a:hover {
  background-color: springgreen;
  color: black;
}
